:root {
  --mainBrown: #fff8ef;
  --lightBrown: #e9b3b9;
  --lightShadeBrown: #e7a23b;
  --shadeBrown: #ef4c00;
  --darkWhite: #e9e8e4;
  --mainWhite: #f3f3f3;
  --milkyWhite: #f4f9ff;
  --mainBlue: #2a2a72;
  --mainDark: #443f3f;
  --lightDark: #d4cfc9;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainBrown) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Akaya Kanadaka', cursive;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.text-main-brown {
  color: var(--lightShadeBrown);
}

.text-main-milky {
  color: var(--milkyWhite);
}

hr {
  background: var(--mainDark);
  border-color: transparent;
  border-width: 0.25px;
}

.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.clear-btn {
  position: absolute;
  right: 10%;
  width: 8rem;
}
